@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

#username-form-background {
  background-color: rgba(0, 0, 0, 0.65);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#username-form-container {
  background-color: white;
  width: fit-content;
  min-width: 15%;
}

#username-form {
  margin: 0 auto;
  width: fit-content;
  padding: 32px;
  text-align: center;
}

#username-form p {
  font-size: 1.4em;
  margin-bottom: 8px;
}

#username-form input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 4px;
}

#username-form button {
  width: 100%;
}

#chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#message-list {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
  padding-top: 16px;
}

.join-message {
  color: #95A5A6;
  text-align: center;
  font-size: 0.8em;
}

.outgoing-message, .incoming-message {
  border-radius: 16px;
  margin: 0px 12px 16px 12px;
  max-width: 34%;
  min-width: 10%;
  padding: 12px 16px;
  width: fit-content;
}

.outgoing-message {
  background-color: #DFE6E9;
  margin-left: auto;
}

.incoming-message {
  background-color: #0097E6;
}

.outgoing-message:first-child, .incoming-message:first-child {
  margin-top: auto;
}

.incoming-message .message-author {
  color: #DCDDE1;
}

.incoming-message .message-content {
  color: #F5F6FA;
}

.outgoing-message .message-author {
  color: #636E72;
}

.outgoing-message .message-content {
  color: #2D3436;
}

#message-form {
  display: flex;
}

#message-form input {
  flex: 1;
}

.error-popup {
  background-color: #E74C3C;
  color: #FFFFFF;
  border-radius: 8px;
  padding: 24px 32px;
  position: fixed;
  top: 32px;
  left: 50%;
  transform: translate(-50%, 0);
}
